body {
    background-color: #444;
}

#app {
    text-align: center;
    background-color: white;
}

header, footer, .section-header {
    font-family: "Lucida Console", Courier, monospace;
}

header, footer {
    text-align: center;
    color: white;
}

.markdown-previewer{
    border-radius: 10px;
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
}

.editor-container, .previewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

#preview, #editor {
    width: 100%;
}

.section-header {
    align-self: start;
    color: rgb(92, 92, 92);
}

textarea {
    height: 50vh;
    padding: 1em;
    border-radius: 5px;
    resize: vertical;
    outline: none !important;
    border: 1px solid rgb(99, 99, 99);
}

textarea:focus {
    border:1px solid #61dafb;
}

footer {
    margin: 2em;
}

footer a {
    color: #61dafb;
    text-decoration: none;
}

@media (min-width: 768px) { 
    .markdown-previewer {
        margin-left: 5em;
        margin-right: 5em;
    }
    textarea {
        height: 75vh;
    }
}
@media (min-width: 992px) { 
    .markdown-previewer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
 }